*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(180deg, skyblue, blue, darkblue);
    font-size: 1.3rem;
    

}
label{
    font-size: 1.5rem;
}
header{
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
}
.forumDiv{
    border-radius: 30px;
    padding: 20px;
    line-height: 2.3rem;
    border: 2px solid skyblue;
    box-shadow: 50px 50px 100px skyblue, -50px -5px 100px skyblue;

    background: linear-gradient(180deg, darkblue, blue, skyblue);
    margin: 0 20vw 0 20vw;
}

#forum{
    display: flex;
  flex-direction: column;
  justify-content: center;

}
.textFields div{
    padding-bottom: 1.5rem;

}
.textFields div, .feature{
    display: flex;
  flex-direction: column;
  justify-content: center;
}
.textFields div input{
    border-radius: 5px;
    height: 40px;
    outline-style: none;
    padding-left: 14px;
    font-size: 1.3rem;

}
.currentRole, .checkBox{
    display: flex;
    flex-direction: column;
}
select{
    font-size: 1.1rem;
    height: 35px;
    border-radius: 5px;
}
.checkBox div{
    padding-bottom: 1px;
}

input[type = checkBox]{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
#textarea{
    border-radius: 10px;
    box-shadow: 5px 5px 60px gray;
    font-size: 1.5rem;
    padding: 10px;
    height: 30vh;
    width: 50vw;
}
.button{
    font-size: 1.7rem;
    border: 3px solid white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, darkblue, skyblue, white);


}
#button{
    padding: 0px;
    margin: 40px;
}
@media only screen and (max-width: 1100px)
{
    .forumDiv{
        margin: 0 4vw 0 4vw;
    }
    .button{
        width: 79vw;
    }
    #button{
        margin: 7px;
    }
}



